# Entorno virtual
venv/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Configuración local
instance/

# Bases de datos locales
*.db

# Cargas de usuarios (si no quieres incluir fotos)
static/uploads/

# Logs
*.log
