main{
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
    gap: 6px;
}

flex-row{
    display: flex;
    flex-direction: row;
}