body {
    font-family: Arial, sans-serif; 
    background-color: beige; 
    color: black; 
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 90%; 
    margin: 20px auto; 
    border-collapse: collapse; 
}

th, td {
    border: 1px solid black; 
    padding: 10px;
    text-align: left;
}

th {
    background-color: rgb(190, 190, 172); 
}

img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    padding-left: 10px; 
}

.grafico {
    margin: 20px;
    max-width: 400px;  
    margin: 0 auto;   
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

p{
    padding: 10px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
}

.modal .modal-content{
    margin: auto;
    height: 400px;
    width: 400px;
    background-color: white; 
}

.modal.open{
    display: flex; 
}

h1{
    padding-left: 25px;
}

a.button {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}